    
#divBusca{

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  
  width: 393px;
  height: 40px;
  background: #F5F5F5;
  border-radius: 20px;
  }
   
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:14px;
    border:none;
    height:32px;
    width:260p;
    
  }

  .botao__login {
    
  } 


   